@import "helpers/variables";
@import "helpers/mixins";
@import "helpers/functions";
@import "vendor/normalize";
@import "vendor/smart-grid";
@import "base/fonts";
@import "base/general";
@import "../blocks/blocks";

.container {
    margin: 0 auto;
    padding: 0;

    @include desktop {
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        grid-template-rows: minmax(76px, 1fr);
    }

    .header {
        background-color: $darkblue-background;
        display: flex;
        flex-direction: row;

        @include desktop {
            grid-column-start: 1;
            grid-column-end: 11;
            grid-row-start: 1;
            grid-row-end: 2;
        }

        a {
            text-decoration: none;
            color: $white;
            font-size: 18px;
            font-weight: bolder;
            margin: 23px 0 23px 23px;

            img {
                height: 18px;
                width: auto;
            }

            span {
                font-weight: normal;
                color: $orange;
            }
        }

        @include tablet {
            button {
                margin-left: auto;
                margin-right: 21px;
                background-color: transparent;
                border: none;
                outline: 0;

                img {
                    height: 14px;
                    width: 22px;
                }
            }

            .login-desktop {
                display: none;

            }
        }

        @include desktop {
            button {
                display: none;
            }

            .login-desktop {
                display: flex;
                margin-left: auto;

                button {
                    display: block;
                    font-family: ProximaNovaT;
                    cursor: pointer;
                    margin: 13px;
                }

                .signup {
                    background-color: $light-grey;
                    color: $white;
                    font-weight: bold;
                    height: 38px;
                    width: 89px;
                    border-radius: 3px;
                    margin-left: 22px;
                    margin-right: 18px;
                }

                a {
                    font-family: ProximaNovaT;
                    text-decoration: none;
                    color: $light-grey;
                    font-weight: bold;
                }
            }

        }

    }

    .languages {
        background-color: $medblue-background;
        display: flex;
        justify-content: space-around;

        @include desktop {
            grid-column-start: 8;
            grid-column-end: 11;
            grid-row-start: 2;
            grid-row-end: 3;
        }


        button {
            background-color: inherit;

            margin-top: 23px;
            background-color: transparent;
            border: none;
            outline: 0;
            color: $language-normal;
            font-weight: bold;
            cursor: pointer;
            padding-bottom: 25px;
        }

        .active {
            color: $language-active;
            border-bottom: 2px solid $language-active;

        }
    }

    .navigation {

        display: flex;
        flex-direction: column;

        .login-mobile {
            visibility: hidden;
        }

        button {
            visibility: hidden;
            height: 0;
        }

        @include tablet {

            height: 100%;
            width: 0;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            background-color: $white;
            overflow-x: hidden;
            transition: 0.5s;

            button {
                visibility: visible;
                background-color: transparent;
                border: none;
                outline: 0;
                margin: 22px 23px 21px auto;
                cursor: pointer;


                img {
                    height: 18px;
                    width: auto;
                }
            }

            .login-mobile {
                visibility: visible;

                button {
                    font-family: ProximaNovaT;
                    cursor: pointer;
                }

                .signup {
                    background-color: $light-grey;
                    color: $white;
                    font-weight: bold;
                    height: 38px;
                    width: 89px;
                    border-radius: 3px;
                    margin-left: 22px;
                    margin-right: 18px;

                }

                a {
                    font-family: ProximaNovaT;
                    text-decoration: none;
                    color: $light-grey;
                    font-weight: bold;
                }
            }
        }

        @include desktop {
            grid-column-start: 1;
            grid-column-end: 3;
            grid-row-start: 2;
            grid-row-end: 20;
        }

        .categories {
            margin-left: 22px;
            font-family: ProximaNovaT;

            h3 {
                font-family: ProximaNova-Bold;
                color: $light-grey;
                margin-bottom: 23px;
                cursor: pointer;
            }

            a {
                margin-bottom: 10px;
                text-decoration: none;
                letter-spacing: 1.2px;
                cursor: pointer;
                font-weight: 500;
                margin-bottom: 20px;
                margin-left: -30px;
                color: $light-grey;
            }
            .active {
                color: blue;
            }

            li {
                margin-bottom: 10px;
                margin-left: 30px;
                list-style: none;

            }

        }

    }

    .introduction {
        @include desktop {
            grid-column-start: 3;
            grid-column-end: 8;
            grid-row-start: 2;
            grid-row-end: 5;
        }

        h1 {
            font-size: 52px;
            font-family: ProximaNovaT;
            font-weight: 100;
            margin: 36px 0 38px 23px;
        }

        h2 {
            font-family: ProximaNova-Bold;
            color: $grey;
            margin: 32px 0 21px 23px;
        }

        p {
            font-family: ProximaNovaT;
            font-size: 16px;
            margin: 0 23px;
        }
    }

    .code_init {
        @include desktop {
            grid-column-start: 8;
            grid-column-end: 11;
            grid-row-start: 3;
            grid-row-end: 8;

        }
    }

    .code_store {
        @include desktop {
            grid-column-start: 8;
            grid-column-end: 11;
            grid-row-start: 8;
            grid-row-end: 18;
        }
    }

    .examples {
        display: none;
        padding: 6px 12px;
        border: 1px solid #ccc;
        border-top: none;
        background-color: $darkblue-background;
        margin: 21px 0 30px 0;

        @include tablet {
            h5 {
                display: none;
            }

            a {
                display: none;
            }

            .code-result {
                display: none;
            }

            p {
                display: none;
            }
        }

        @include desktop {
            margin: -1px;

            h5 {
                display: block;
                color: $white;
                font-family: ProximaNova-Bold;
                font-size: 16px;
                margin: 35px 0 14px 30px;

            }

            a {
                display: block;
                text-decoration: none;
                color: $blue;
                margin-left: 30px;

            }

            .api {
                color: $blue;
                word-break: break-word;
                white-space: pre-wrap;
                white-space: -moz-pre-wrap;
                white-space: -pre-wrap;
                white-space: -o-pre-wrap;
                word-wrap: break-word;
            }

            p {
                display: block;
                color: $white;
                font-family: ProximaNova-Bold;
                margin-left: 30px;
                margin-right: 30px;
            }

            .code-result {
                display: block;
            }
        }


        pre {
            background-color: $medblue-background;
            margin: 20px;
            padding-left: 10px;
            white-space: pre-wrap;
            white-space: -moz-pre-wrap;
            white-space: -pre-wrap;
            white-space: -o-pre-wrap;
            word-wrap: break-word;

        }
    }

    .parameter {
        @include desktop {
            grid-column-start: 3;
            grid-column-end: 8;
            grid-row-start: 5;
            grid-row-end: 11;
            margin: 23px;
        }

        @include tablet {
            margin: 23px;
        }

        table {
            display: block;
            overflow-x: auto;
            border-collapse: collapse;

            tr {
                border: 1px solid lightgray;

                th {
                    font-weight: bold;
                    color: $grey;
                    border: 1px solid grey;
                    padding: 10px;

                }

                td {
                    vertical-align: text-top;
                    border: 1px solid lightgray;
                    text-align: center;
                    padding: 10px;
                    .signature{
                        color: $blue;
                    }

                    &:first-of-type {
                        padding-left: 22px;
                        text-align: left;
                    }

                    &:last-of-type {
                        text-align: left;
                    }
                }
            }
        }
    }

    .result {
        @include desktop {
            grid-column-start: 3;
            grid-column-end: 8;
            grid-row-start: 11;
            grid-row-end: 18;
            margin: 23px;
        }

        @include tablet {
            margin: 23px;

        }

        table {
            margin-top: 40px;

            tr {
                td {
                    padding-left: 10px;
                    vertical-align: text-top;
                    padding-bottom: 44px;
                    line-height: 27px;

                    .goodsid {
                        color: $pink;
                        background-color: #f9fafd;
                        border: 1px solid lightgray;
                        padding: 3px;
                    }

                    .pingbacks {
                        color: #3a72c7;
                    }


                    &:first-of-type {
                        padding-left: 11px;

                        ul {
                            .string {
                                color: $grey;
                            }

                            .required {
                                color: $orange;
                            }

                            li {
                                list-style-type: none;
                            }
                        }
                    }

                }
            }
        }
    }
}