@font-face {
    font-family: "ProximaThinIt";
    src: url("../../fonts/ProximaNova-ThinIt.eot"), url("../../fonts/ProximaNova-ThinIt.ttf"), url("../../fonts/ProximaNova-ThinIt.woff");
}
@font-face {
    font-family: "ProximaNovaExCn";
    src: url("../../fonts/ProximaNovaExCn-ThinIt.eot"), url("../../fonts/ProximaNovaExCn-ThinIt.ttf"), url("../../fonts/ProximaNovaExCn-ThinIt.woff");
}

@font-face {
    font-family: "ProximaNovaT";
    src: url("../../fonts/ProximaNovaT-Thin.eot"), url("../../fonts/ProximaNovaT-Thin.ttf"), url("../../fonts/ProximaNovaT-Thin.woff");
}

@font-face {
    font-family: "ProximaNova-Bold";
    src: url("../../fonts/ProximaNova-Bold.eot"), url("../../fonts/ProximaNova-Bold.ttf"), url("../../fonts/ProximaNova-Bold.woff");
}
